In [1]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
np.set_printoptions(legacy='1.25')

# Comparing Movies in different streaming services
* Find out which genre of movies each country creates the most

# Cleaning Data

In [2]:
netflix = pd.read_csv("netflix_titles.csv")

In [3]:
def filter_data(platform):
    # Removing any TV show type
    platform = platform[platform["type"] == "Movie"]
    # Drop rows with missing values in country or listed_in
    platform = platform.dropna(subset=["country", "listed_in"])
    # Focusing on Necessary Columns
    platform = platform[["title", "country", "listed_in"]]
    return platform

netflix = filter_data(netflix)

In [4]:
def split_commas(platform):
    platform["listed_in"] = platform["listed_in"].str.split(", ")
    platform = platform.explode("listed_in")
    platform["country"] = platform["country"].str.split(", ")
    platform = platform.explode("country")
    return platform

netflix = split_commas(netflix)

In [5]:
netflix = netflix.set_index(["country", "listed_in"]).sort_index()

In [6]:
netflix

                                                        title
country     listed_in
Afghanistan Documentaries         The Land of the Enlightened
            International Movies  The Land of the Enlightened
Albania     Dramas                       Forgive Us Our Debts
            International Movies         Forgive Us Our Debts
Algeria     Classic Movies                Alexandria ... Why?
...                                                       ...
Zimbabwe    Documentaries                              Trophy
            International Movies                     Cook Off
            International Movies                    Democrats
            International Movies                       Trophy
            Romantic Movies                          Cook Off

[16015 rows x 1 columns]